@page "/dotgame/end"

<h3>End</h3>

<MudButton OnClick="DownloadClicked" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Large">
    Download data
</MudButton>
<MudButton OnClick="RestartClicked" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Large">
    Restart
</MudButton>