 <MudGrid Justify="Justify.FlexEnd">
    <MudItem sm="9">
        <div class="d-flex flex-column align-center justify-center mud-height-full">
            <MudCard Outlined="true">
                <MudCardContent>
                    <MudText Typo="Typo.body1" Align="Align.Center">@Description</MudText>
                </MudCardContent>
            </MudCard>
            <MudButton Link="@ButtonLink" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Large" Class="mx-auto my-3">
                @ButtonText
            </MudButton>
        </div>
    </MudItem>
    <MudItem sm="@SizeImage">
        <div class="d-flex align-center justify-center">
            <MudImage Src="@ImageURL" ObjectFit="ObjectFit.Contain" Height="200"/>
        </div>
    </MudItem>
</MudGrid>

@code{

    [Parameter] public string ButtonText { get; set; } = "Start";
    [Parameter] public string ButtonLink { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public SymbMode Mode { get; set; }

    private int SizeImage { get => Mode == SymbMode.Pig ? 2 : 3; }
    private string ImageURL { get => Mode == SymbMode.Pig ? "images/pig-happy.png" : "images/worm2.jpg"; }
}