
<div class="d-flex flex-grow-1 gap-4">
    <div class="d-inline-flex pa-4 flex-grow-1 justify-center">
        <GameField />
    </div>
    <div class="d-inline-flex pa-4 flex-grow-1 justify-center">
        <GameField/>
    </div>
</div>


