@page "/"

<h3>MainMenu</h3>

<MudButton Link="dotgame" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large">
    Dot Enumeration
</MudButton>

<MudButton Link="symbgame" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large">
    (Non) Symbolic Comparison
</MudButton>


@code {

}
